body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    overflow: hidden;
}

.header {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #444;
  color: #fff;
  position: absolute;
  top: 0;
}

.board {
  position: absolute;
  background-color: #dddddd;
  left: 350px;
  right: 0;
  bottom: 0;
  top: 50px;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 350px;
  top: 50px;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
}

#sliderContainer {
  top: 250px;
  line-height: 16px;
  color: #dd7c8a;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}


@media screen and (max-width: 900px) {
  .map {
    left: 360px;
  }
  .sidebar {
    width: 360px;
  }
}

@media screen and (max-width: 600px) {
  .map {
    left: 0;
  }
  .sidebar {
    display: none;
  }
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

button {
  font-size: 12px;
}

text {
  font-family: "open sans", sans-serif;
  font-size: 12px;
  fill: white;
}

/*.incident {
  fill: #7bb3d1;
  stroke: #999;
}

.incident:hover {
  fill: #016eae;
}*/